*.swp
*.png
*.log
TODO.txt
addfiles.bash
addlib.bash
*.pyc
__pycache__

**/.venv/

**/build/
errors/
errorfile.txt
*.cmake
**/CMakeFiles
Makefile
imposc-ui/.eslintcache
imposc-service/imposc-cpp/Testing
imposc-service/imposcpy/src/imposc_library.c*
imposc-service/imposcpy/src/home

**/libs
*.so
*.a
*.o
node_modules/**